body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    margin: 0;
    padding:0;
    background-color:#f4f4f4;
}

/* styling container class */
.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

/* styling header */

header {
    background:#2F4F4F;
    color:#FFFFFF;
    padding-top: 20px;
    min-height: 70px;
    border-bottom: 1.5px solid red;
}

header a {
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    font-size:16px;
}

 ul {
    list-style: none;
    margin:0;
    padding:0;
}

header li {
    display: inline;
    float: left;
    padding:0 20px 0 20px;
}

header #branding {
    float: left;
    margin-top: 20px;
}

header nav {
    float: right;
    margin-top: 20px;
}

header #branding h1 {
    margin:0;
}

header a:hover {
    color:#A0522D;
    border-bottom:#A0522D solid 1.5px;
    font-weight: bold;
}

header .highlight, header .current a {
    color: red;
    font-weight: bold;
}

/* styling the showcase */

#showcase {
   background: url("../IMAGES/ground.jpg") no-repeat 0;
   background-size: 100% 100%;
   min-height: 400px;
   text-align: center;
   color: #FFFFFF;
}

#showcase h1 {
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 22px;
}

#showcase p {
  font-size: 14px;
  text-align: justify;
}

#newsletter {
    padding:15px;
    color:#ffffff;
    background: #35424a;
}

#newsletter h1 {
    float: left;
    font-size: 18px;
}

#newsletter form {
    float: right;
    margin-top: 15px;
}

#newsletter input[type="email"]{
    padding: 4px;
    height:20px;
    width:300px;
    font: 15px Arial, Helvetica, sans-serif;
}

.btn {
    height: 38px;
    width: 100px;
    background:#A0522D;
    color: #ffffff;
    font: 15px Arial, Helvetica, sans-serif;
    border: 0;
    padding-left: 20px;
    padding-right:20px;
    cursor: pointer;
}

.btn:hover {
    color: green;
}

#logos {
    margin-top: 20px; 
}

#logos .logo {
    float: left;
    width: 22%;
    text-align: center;
    padding: 10px;
}

#logos .logo img {
    width:200px;
    min-height: 150px;
    margin-left: 50px;
}

#logos .logo h1 {
    font-size: 20px;
    font: 15px Arial, Helvetica, sans-serif;
    font-weight: bold;   
 }
 
 #logos .logo p {
    font-size: 14px;
    font: 15px Arial, Helvetica, sans-serif;
    text-align: justify; 
    margin-left: 20px;
    margin-right:20px;
 }
 
 footer {
     padding:15px;
     margin-top:20px;
     color: #ffffff;
     background:#FF6347;
     text-align: center;
 }

/* About Us */
/*aside #sidebar */
 aside#sidebar{
     margin-top:20px;
     float: right;
     width:30%;
 }

 /* article col_1 */
 
 article#col_1 {
     float: left;
     width:60%;
 }

 article#col_1 p, aside#sidebar p{
     text-align: justify;
 }

 /* services */
 .dark {
     padding:40px;
     background:#35424a;
     margin-top:30px;
     color:#ffffff;
 }

 .dark form input{
     margin-bottom:10px;
     width: 300px;
     height: 25px;

 }
 .price {
     color:#CD5C5C;
     font-weight:bold;
 }

 ul#my_service li {
     padding:20px;
     background:#35424a;
     margin-bottom:20px;
 }

/* Media Query */

@media (max-width: 480px), (max-width: 768px), (max-width: 1024px) {
    header #branding, header nav, header nav li,
     #newsletter h1, #newsletter form, #logos .logo, 
     article#col_1, aside#sidebar
     {
        float: none;
        width: 100%;
        text-align: center;
    }
    header {
        padding-bottom: 10px;
    }
    header h1 {
        padding-top: 40px;
    }
    #showcase h1 {
      margin-top: 40px;  
    }
    #newsletter .btn, #sidebar .btn {
        display: block;
        width: 100%
    }
    #newsletter input[type="email"], .dark form input{
        width: 100%;
        margin-bottom: 5px;
    }

    #sidebar {
        margin-bottom: 10px;
    }

    textarea {
        width: 100%
    }


}


